{
  "name": {{json .Name}},
{{- if .BuildDockerfile }}
  "build": {
    "dockerfile": {{json .BuildDockerfile}},
    "context": {{json .BuildContext}}
  },
{{- end }}
{{- if .RunArgs }}
  "runArgs": {{json .RunArgs}},
{{- end }}
    "containerEnv": {
      "DECOMK_HOME": {{json .Home}},
      "DECOMK_LOG_DIR": {{json .LogDir}},
      "DECOMK_TOOL_URI": {{json .ToolURI}},
      "DECOMK_CONF_URI": {{json .ConfURI}}
    },
{{- if .RemoteUser }}
  "remoteUser": {{json .RemoteUser}},
{{- end }}
  "updateContentCommand": {{json .UpdateContentCommand}},
  "postCreateCommand": {{json .PostCreateCommand}}
}
